<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMotionUsageDescription</key>
	<string>Optimum needs access to motion data to detect when you’re asleep.
“Optimum needs access to motion data to detect when you’re asleep.”
“Optimum needs access to motion data to detect when you’re asleep.”
Optimum needs access to motion data to detect when you’re asleep.
Optimum needs data of your motion</string>
	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
	<string>Optimum writes your detected sleep periods to the Health app so all your data stays in one place.
</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Optimum writes your detected sleep periods to the Health app so all your data stays in one place.
</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Optimum writes your detected sleep periods to the Health app so all your data stays in one place.
</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>fetch</string>
	</array>
</dict>
</plist>
